

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Noto+Serif+KR:wght@300&display=swap');

@font-face {
    font-family: 'RIDIBatang';
    src: url('/assets/fonts/RIDIBatang.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}